# This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]
[include timelapse.cfg]
[include KlackEnder.cfg]
[include AdaptiveMeshing.cfg]
[include AdaptivePurge.cfg]
[include arduinoUno.cfg]

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 244
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: -8
position_max: 235
homing_speed: 50
position_min: -10

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
#endstop_pin: ^PA7
#position_endstop: 0
position_max: 250
position_min: -8

[probe]
pin: ^PA7                  # Probe-Stop Connection on Ender 3 V2
x_offset: 4                # negative = left of the nozzle
y_offset: 21               # negative = in front of of the nozzle
#z_offset: 3.195            # Measure per your specific setup
speed: 4.0
lift_speed: 15.0
sample_retract_dist: 1
#samples_result: median
samples: 4
samples_tolerance_retries: 6
samples_tolerance: 0.0300

[extruder]
max_extrude_only_distance: 120.0
max_extrude_only_velocity: 120
max_extrude_only_accel: 5500
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 32.665
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
pressure_advance: 0
#control: pid
#tuned for stock hardware with 215 degree Celsius target
#pid_Kp: 27.295
#pid_Ki: 1.876
#pid_Kd: 99.286
min_temp: 0
max_temp: 260
max_extrude_cross_section: 15

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA0
#max_power: 0.450

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[temperature_sensor MCU]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 2500
#max_accel_to_decel: 7000
max_z_velocity: 5
max_z_accel: 100

[exclude_object]

[input_shaper]
#shaper_freq_x: 48.8
#shaper_type_x: 2hump_ei
shaper_freq_y: 36.4
shaper_type_y: mzv

[idle_timeout]
timeout: 600                    # Idle time (in seconds) to wait before running the above G-Code commands. The default is 600 seconds.

[firmware_retraction]
retract_length: 1               # The length of filament (in mm) to retract when G10 is activated, and to unretract when G11 is activated (but see unretract_extra_length below). The default is 0 mm.
retract_speed: 60               # The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_speed: 45             # The speed of unretraction, in mm/s. The default is 10 mm/s.
unretract_extra_length: 0       # The length (in mm) of *additional* filament to add when unretracting.

[bed_screws]
screw1: 28, 24
screw2: 198, 24
screw3: 198, 193
screw4: 28, 193

[screws_tilt_adjust]
screw1: 25, -3
screw1_name: front left screw
screw2: 195, -3
screw2_name: front right screw
screw3: 195, 167
screw3_name: rear right screw
screw4: 25, 167
screw4_name: rear left screw
horizontal_move_z: 10.
speed: 50.
screw_thread: CW-M3

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.740
#*# pid_ki = 1.996
#*# pid_kd = 103.465
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 74.788
#*# pid_ki = 1.458
#*# pid_kd = 959.153
#*#
#*# [probe]
#*# z_offset = 3.025
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 75.6
